//  Button Container

.button {
  font-family: $call-to-actions-font-family;
  font-size: $body-font-size;
  font-weight: $headings-font-weight;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  border-radius: 60px;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12);
  @media (max-width: 991px) {
    font-size: 0.875rem;
    border-radius: 20px;
  }
}

.pink-button {
  @extend .button;
  background-color: $color-primary-pink;
  color: #fff;
  margin-top: 20px;
  padding: 20px 80px;
  position: relative;
  top: 40px;
  transition: 0.4s ease;
  &:hover {
    background-color: darken($color-primary-pink, 10%);
  }
  @media (max-width: 991px) {
    align-self: center;
    padding: 12px 50px;
    top: 18px;
  }
}

.white-button {
  @extend .button;
  background-color: #fff;
  color: $color-neutral-very-dark-cyan;
  padding: 16px 60px;
  transition: 0.4s ease;
  &:hover {
    background-color: darken($color-neutral-very-pale-cyan, 2%);
  }
  @media (max-width: 991px) {
    padding: 10px 30px;
  }
}
