////////// Fontawesome Icons //////////

@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";

////////// Contacts Icons //////////

////////// Social media Icons //////////

.facebook-f {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($fa-var-facebook-f);
  }
}

.twitter {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($fa-var-twitter);
  }
}

.instagram {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($fa-var-instagram);
  }
}
