////////// Fontawesome Icons //////////

@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";

////////// Contacts Icons //////////

////////// Social media Icons //////////

.facebook-f {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($fa-var-facebook-f);
  }
}

.twitter {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($fa-var-twitter);
  }
}

.instagram {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($fa-var-instagram);
  }
}

.ic-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 20px;
}
